/* body -------------------------------------------------- */
body {
    display: flex;
    flex-direction: column; 
    max-width: 1600px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(107, 107, 107);
    background-color: white;
}

/* header -------------------------------------------------- */
header {
    position: fixed;
    z-index: 300;
    max-width: 1600px;
    left: 0;
    right: 0;
    padding-top: 8px;
    border-bottom: 1px solid rgba(107, 107, 107, 0.5);
    background-color: #fff4e7;
}

header h1 {
    line-height: 8px;
    float: left;
    padding-left: 160px;
}

.header-button {
    float: right;
    margin: 8px 160px 14px 0;
}

/* shopping-list -------------------------------------------------- */
.shopping-list {
    margin: 100px 180px 160px; 
    max-height: calc(100vh - 260px);
    overflow-y: auto;
}


/* footer -------------------------------------------------- */
footer {
    position: fixed;
    z-index: 300;
    max-width: 1600px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-bottom: 40px;
    border-top: 1px solid rgba(107, 107, 107, 0.5);
    background-color: #fff4e7;
}

.footer-button {
    margin: 16px 0 16px 160px;
    float: left;
}

footer h1 {
    margin: 16px 160px 16px 0;
    float: right;
}

/* フォーム部品 -------------------------------------------------- */
input {
    width: 200px;
    margin: 8px;
    padding: 8px;
    border: 1px solid rgba(107, 107, 107, 0.5)
}

button {
    margin: 8px;
    padding: 2px 8px;
    background-color: #fff4e7;
    color: rgb(107, 107, 107);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(205, 183, 158,0.5);
}

button:active {
    background-color: #fff4e7;
}

/* 商品情報一覧 -------------------------------------------------- */
ul {
    padding: 0;
}

li {
    align-items: center;
    font-size: 24px;
    margin: 8px 36px;
}

li button {
    margin-left: 24px;
}

/* スマホ用レイアウト -------------------------------------------------- */

@media screen and (max-width: 600px) {
/* header -------------------------------------------------- */
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4px;
}

header h1 {
    line-height: 7px;
    padding-left: 16px;
    font-size: 28px;
}

.header-button {
    margin: 8px 0;
    padding: 0;
}

/* shopping-list -------------------------------------------------- */    
.shopping-list {
    margin: 100px 16px 120px; /* 上にヘッダー分、下にフッター分の余白 */
    height: calc(100vh - 220px); /* vh - (header + footer) */
    overflow-y: auto;
}

/* footer -------------------------------------------------- */
.footer-button {
    width: 100%;
    margin: 8px 0;
}

footer h1 {
    margin: 4px 16px;
    padding: 0;
}


/* フォーム部品 -------------------------------------------------- */
input {
    width: 130px;
    margin: 8px;
    padding: 8px;
}

button {
    margin: 0;
    padding: 2px 8px;
}

.add-item {
    border: 1px solid rgba(107, 107, 107, 0.5);
}

}